.bank_list_container {
    height: auto;
    padding: 10px 0;
}

.bank_list {
    border-radius: 10px;
    font-size: 18px;
    margin-top: 2px;
    padding: 20px;
    height: 549px;
    overflow: hidden;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.bank_card {
    display: flex;
    margin: 7px 0 -4px;
}

.bank_logo {
    flex: 1;
}

.bank_name {
    flex: 7;
    margin-top: 4px;
}

.chevron {
    flex: 1;
    cursor: pointer;
    margin-top: 6px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.accordion_wrapper {
    margin: 10px 0 24px 0;
}

.list_heading {
    color: #606060;
    font-size: 14px;
    margin-left: 5px;
}

.access_list {
    margin: 5px 0 0 29px
}

.access_list_item {
    list-style-image: url(../../assets/images/check.png);
    color: #3F3F3F;
    font-size: 12px;
}

.access_list_item::marker {
    font-size: 6px;
}

.more_info_button {
    background-color: #0055BA;
    padding: 11px 17px 11px 17px;
    border: none;
    border-radius: 8.5px;
    color: #fff;
    float: right;
    margin-top: 7px;
    cursor: pointer;
}

.more_info_button:focus {
    outline: none;
}
